<div class="container admin-content">

	<table class="poctable table table-striped table-bordered">
		<h1>Blogs</h1>
		<thead>
			<tr>
				<th style="width: 20px;"></th>
				<!-- select checkbox -->
				<th style="width: 20px;"></th>
				<!-- edit -->
				<th>ID</th>
				<th>Blogs Title</th>
				<th>Created By</th>
				<th>Remove</th>

			</tr>
		</thead>
		<tbody>

			<tr data-ng-repeat="blogEntry in blogEntries">
				<td style="width: 20px;"><input id="selectRow" type="checkbox" /></td>
				<td style="width: 20px;cursor: pointer;"><a data-toggle="modal" data-target="#updateBlogsModal" ng-click="getBlogByID(blogEntry.blog,blogEntry.createdOn);"><i
						class="glyphicon glyphicon-pencil"></i></a></td>
				<td>{{blogEntry.blog}}_{{blogEntry.createdOn}}</td>
				<td>{{blogEntry.title}}</td>
				<td>{{blogEntry.createdBy}}</td>
				<td><a style="cursor: pointer;"
					ng-click="deleteBlog(blogEntry.blog,blogEntry.createdOn)"><i
						class="glyphicon glyphicon-minus"></i></a></td>
			</tr>
		</tbody>
	</table>

	<a data-toggle="modal" data-target="#createBlogsModal"><i
		class="glyphicon glyphicon-plus"></i></a>

</div>

<div id="createBlogsModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/blogEntries/createBlogEntries.html'"></div>
</div>
<div id="updateBlogsModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/blogEntries/updateBlogEntries.html'"></div>
</div>

