<div class="row">
<ul class="btm-nws-bx">
			<li>
				<h2 class="bxs-titl">{{footerbox1_title}}</h2>
				<ul class="list">
					<li data-ng-repeat="item in footerbox1_items"><h4>
							<a href="#">{{item.title}}</a>
						</h4></li>					
				</ul>
			</li>
			<li>
				<h2 class="bxs-titl">{{footerbox2_title}}</h2>
				<ul class="list">
					<li data-ng-repeat="item in footerbox2_items"><h4>
							<a href="#">{{item.title}}</a>
						</h4></li>					
				</ul>
			</li>
			<li>
				<h2 class="bxs-titl">{{footerbox3_title}}</h2>
				<ul class="list">
					<li data-ng-repeat="item in footerbox3_items"><h4>
							<a href="#">{{item.title}}</a>
						</h4></li>					
				</ul>
			</li>
			<li>
				<h2 class="bxs-titl">{{footerbox4_title}}</h2>
				<ul class="list">
					<li data-ng-repeat="item in footerbox4_items"><h4>
							<a href="#">{{item.title}}</a>
						</h4></li>					
				</ul>
			</li>
		</ul>
</div>