<div class="news-out-bx">
	<div id="Newshead" class="carousel slide slid3" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target=".slid3" data-slide-to="{{$index}}"
				ng-class='{active:$first}' data-ng-repeat="slide in gallery"></li>
			<!-- <li data-target="#Newshead" data-slide-to="1"></li>
			<li data-target="#Newshead" data-slide-to="2"></li> -->

		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item" ng-class='{active:$first}'
				data-ng-repeat="slide in gallery">
				<img ng-src="{{slide.img}}">
				<div class="carousel-caption">
					<h1>
						<a ng-click="openModelPopup(slide.link)">{{slide.title}}</a>
					</h1>
					<p>
						{{slide.intro}}<a ng-click="openModelPopup(slide.link)" class="rd-mor">More...</a>
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
<script>
	$('.slid3').carousel({
		interval : 2500
	})
</script>