<!-- <div data-ng-repeat="mid in topmid" >
    <div class="oak-main3 col-lg-12 col-md-12 col-sm-6 col-xs-6"><span class="img-bx"><img src='{{mid.img}}'></span></div>
  </div>-->

<!-- <table class="table">
	
		<tr data-ng-repeat="mid in topmid">
			<td><div class="oak-main3 col-lg-12 col-md-12 col-sm-6 col-xs-6"><span class="img-bx"><img src='{{mid.img}}'></span></div></td>
		</tr>		
	
 </table>-->
<table style="width: 100%; max-height: 35em" class="table table-bordered"
	cellspacing="10">
	<tbody>
		<tr>
			<td data-ng-repeat="item in topleftup" style='max-height: 15em;'>
				<a ng-click="openModelPopup(item.link)" style='text-decoration:none' >
				<figure>
					<img style='width: 100%; height: 15em;'
						ng-src="{{item.img}}">
					<figcaption class='figcaption_reg'>
						<span>{{item.title}}</span>
					</figcaption>
				</figure>
				</a>
			</td>			
		</tr>
		<tr>
			<td data-ng-repeat="item in topleftdown" style='max-height: 15em;'>
				<a ng-click="openModelPopup(item.link)" style='text-decoration:none' >
				<figure>
					<img style='width: 100%; height: 15em;'
						ng-src="{{item.img}}">
					<figcaption class='figcaption_reg'>
						<span>{{item.title}}</span>
					</figcaption>
				</figure>
				</a>
			</td>	
		</tr>
	</tbody>
</table>