<!-- <div data-ng-repeat="mid in topmid" >
    <div class="oak-main3 col-lg-12 col-md-12 col-sm-6 col-xs-6"><span class="img-bx"><img src='{{mid.img}}'></span></div>
  </div>-->
  
  <table class="table">
	
		<tr data-ng-repeat="mid in topmid">
			<td><div class="oak-main3 col-lg-12 col-md-12 col-sm-6 col-xs-6"><span class="img-bx"><img src='{{mid.img}}'></span></div></td>
		</tr>		
	
 </table>
<!-- 
<div id="oakmidmain1" class="oak-main3 col-lg-12 col-md-12 col-sm-6 col-xs-6"><span class="img-bx"><img src="images/sample/Dutse_airport-2.jpg"></span></div>
<div id="oakmidmain2" class="oak-main3 col-lg-12 col-md-12 col-sm-6 col-xs-6"><span class="img-bx"><img src="images/sample/Dutse_airport-3.jpg"></span></div>
<div id="oakmidmain3" class="oak-main3 col-lg-12 col-md-12 col-sm-12 col-xs-12"><span class="img-bx"><img src="images/sample/Dutse_airport-4.jpg"></span></div>

 -->