<div class="news-out-bx">
	<div id="Newshead" class="carousel slide hmSlidr slid1"
		data-ride="carousel">


		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item" ng-class='{active:$first}'
				data-ng-repeat="slide in topslides">
				<img src="{{slide.img}}">
				<div class="carousel-caption">
					<h1>
						<a ng-click="openModelPopup(slide.id)">{{slide.title}}</a>
					</h1>
					<!-- <p>
						<a href="#" class="rd-mor">CBN</a>
					</p> -->
				</div>
			</div>
		</div>
		<!-- Indicators -->
		<ol class="carousel-indicators thumb">
			<li data-target=".slid1" data-slide-to="0" ng-class='{active:$first}'
				data-ng-repeat="slide in topslides"><img src="{{slide.img}}">
				<div class="carousel-caption">
					<p>
						<a ng-click="openModelPopup(story.id)">{{slide.title}}</a>
					</p>
				</div></li>
		</ol>
	</div>
</div>
<script>
$('.slid1').carousel({
	interval : 2500
})
</script>