<div class="container">
	<div class="row blogpg">
		<div class="col-xs-12">
			<div class="blog-out-bx">
				<h2 class="blgpg-titl">
					Forum <span class="fnt-siz"> <a href="#" class="larg"
						style="font-size: 22px;">A</a> <a href="#" class="midl"
						style="font-size: 18px;">A</a> <a href="#" class="smal"
						style="font-size: 13px;">A</a>
					</span>
				</h2>

				<div class="blog-in-bx">
					<div class="blog-tools">
						<ul class="Bredcrmb">
							<li><a ui-sref="forum">Discussion Board</a></li>
							<li>{{catID}}</li>
						</ul>
						<div class="form-heding-bx">
							<h4>Topics</h4>
							<p>Topics for Category {{catID}}</p>
						</div>
						<div ng-if="userName" class="formbtns">
							<button class="buton"  data-toggle="modal" data-target="#createForumTopicModal">
								<span class="font-icn">&#xf067;</span> New Topic
							</button>
							<!-- <button class="buton">
								<span class="font-icn">&#xf00c;</span> Mark Topics Read
							</button> 
							<button class="buton">
								<span class="font-icn">&#xf0a6;</span> Subscribe
							</button>-->
						</div>

						<ul class="forum-listg">
							<li dir-paginate="topic in topics  |itemsPerPage: pageSize" current-page="currentPage">
								<div>
									<div class="sml">
										<a href="#" class="font-icn">&#xf07c;</a>
									</div>
								</div>
								<div>
									<div class="wide">
										<h4>
											<a ui-sref="forum_posts({topicID: topic.id})">{{topic.title}}</a>
										</h4>
										<p>{{topic.description}}</p>
									</div>
								</div>
								<!-- <div>
									<div class="mdl">
										<strong>6</strong><br>Topics
									</div>
								</div> -->
								<div>
									<div class="mdl">
										<strong>{{topic.pstCount}}</strong><br>Replies
									</div>
								</div>
								<div>
									<div class="midwid">
										<p>
											Last Post: <a href="#">What it means to be ...</a>
										</p>
										<p>
											by : <a href="#">Margaret Balogun</a>
										</p>
										<p>2 years 8 months ago</p>
									</div>
								</div>
							</li>

						</ul>
						<div ng-if="userName" class="formbtns">
							<button class="buton" data-toggle="modal" data-target="#createForumTopicModal">
								<span class="font-icn">&#xf067;</span> New Topic
							</button>
							<!-- <button class="buton">
								<span class="font-icn">&#xf00c;</span> Mark Topics Read
							</button> 
							<button class="buton">
								<span class="font-icn">&#xf0a6;</span> Subscribe
							</button>-->
						</div>

						<ul class="paging">
							<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
						</ul>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
<div id="createForumTopicModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/modals/createForumTopic.html'"></div>
</div>
