<div class="container admin-content">
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" 
											template-url="dirPagination.tpl.html"></dir-pagination-controls>
	<table class="poctable table table-striped table-bordered">
		<h1>Blogs</h1>
		<thead>
			<tr>
				<th style="width: 20px;"><input id="selectRow" type="checkbox" /></th>
				<!-- select checkbox -->
				<th style="width: 20px;"><i
						class="glyphicon glyphicon-pencil"></i></th>
				<!-- edit -->
				<th>Category</th>
				<th>Title</th>
				<th>Description</th>
				<th>DisplayImage</th>
				<th>BlogHash</th>
				<th>Hits</th>
				<th>Rating</th>				
				<th>Created By</th>
				<th>Updated By</th>
				<th>Created On</th>
				<th>Updated On</th>								
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>

			<tr dir-paginate="blog in blogs |itemsPerPage: pageSize" current-page="currentPage">
				<td style="width: 20px;"><input id="selectRow" type="checkbox" /></td>
				<td style="width: 20px;cursor: pointer;"><a data-toggle="modal" data-target="#updateBlogModal" ng-click="getBlogByID(blog.id);"><i
						class="glyphicon glyphicon-pencil"></i></a></td>
				<td>{{blog.category}}</td>
				<td>{{blog.title}}</td>				
				<td>{{blog.description}}</td>				
				<td>{{blog.displayimage}}</td>
				<td>{{blog.blogHash}}</td>
				<td>{{blog.hits}}</td>				
				<td>{{blog.rating}}</td>
				<td>{{blog.createdBy}}</td>
				<td>{{blog.updatedBy}}</td>
				<td>{{blog.createdOnStr}}</td>
				<td>{{blog.updatedOnStr}}</td>
				<td><a style="cursor: pointer;"
					ng-click="deleteBlogById(blog.id)"><i
						class="glyphicon glyphicon-minus"></i></a></td>
			</tr>
		</tbody>
	</table>

	<a data-toggle="modal" data-target="#createBlogModal"><i
		class="glyphicon glyphicon-plus"></i></a>

</div>

<div id="createBlogModal" class="modal fade" role="dialog">
	<div ng-include ="'partial_views/blog/createBlog.html'"></div>
</div>
<div id="updateBlogModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/blog/updateBlog.html'"></div>
</div>
