<div class="container admin-content">

	<table class="poctable table table-striped table-bordered">
		<h1>Articles</h1>
		<thead>
			<tr>
				<th style="width: 20px;"></th>
				<!-- select checkbox -->
				<th style="width: 20px;"></th>
				<!-- edit -->
				<th>ID</th>
				<th>Category</th>
				<th>Title</th>
				<th>Created By</th>
				<th>Created On</th>
				<th>Remove</th>

			</tr>
		</thead>
		<tbody>

			<!-- <tr dir-paginate="article in articles" current-page="currentPage" > -->
			<tr dir-paginate="article in articles | itemsPerPage: pageSize">
				<td style="width: 20px;"><input id="selectRow" type="checkbox" /></td>
				<td style="width: 20px;cursor: pointer;"><a data-toggle="modal" data-target="#updateArticleModal" ng-click="getArticleByID(article.category,article.updatedOn);"><i
						class="glyphicon glyphicon-pencil"></i></a></td>
				<td>{{article.category}}_{{article.createdOn}}</td>
				<td>{{article.category}}</td>
				<td>{{article.title}}</td>
				<td>{{article.createdBy}}</td>
				<td>{{article.createdOnDate}}</td>
				<td><a style="cursor: pointer;"
					ng-click="deleteArticle(article.category,article.createdOn)"><i
						class="glyphicon glyphicon-minus"></i></a></td>
			</tr>
			<tr>
			
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
    </tr>
		</tbody>
		
	
	 
	</table>

	<div>
          
         
	
	
	<a data-toggle="modal" data-target="#createArticleModal"><i
		class="glyphicon glyphicon-plus"></i></a>

</div>

<div id="createArticleModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/articles/createArticle.html'"></div>
</div>
<div id="updateArticleModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/articles/updateArticle.html'"></div>
</div>

