
<div>

	<table class="poctable table table-striped table-bordered">
		<h1>Articles</h1>
		<thead>
			<tr>
				<th style="width: 20px;"></th>
				<!-- select checkbox -->
				<th style="width: 20px;"></th>
				<!-- edit -->
				<th>Article Title</th>
				<th>Created By</th>
				<th>Remove</th>

			</tr>
		</thead>
		<tbody>

			<tr data-ng-repeat="article in articles">
				<td style="width: 20px;"><input id="selectRow" type="checkbox" /></td>
				<td style="width: 20px;cursor: pointer;"><a data-toggle="modal" data-target="#updateArticleModal" ng-click="getArticleByID(article.category,article.updatedOn);"><i
						class="glyphicon glyphicon-pencil"></i></a></td>
				<td>{{article.title}}</td>
				<td>{{article.createdBy}}</td>
				<td><a style="cursor: pointer;"
					ng-click="deleteArticle(article.category,article.updatedOn)"><i
						class="glyphicon glyphicon-minus"></i></a></td>
			</tr>
		</tbody>
	</table>

	<a data-toggle="modal" data-target="#createArticleModal"><i
		class="glyphicon glyphicon-plus"></i></a>

</div>

<div id="createArticleModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/articles/createUpdateArticle.html'"></div>
</div>
<div id="updateArticleModal" class="modal fade" role="dialog">
	<div ng-include = "'partial_views/articles/createUpdateArticle.html'"></div>
</div>

