<div class="top-wrap">

		<div class="container heads">
			<div class="row" id="oakheader">
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left"
					id="oaklogo">
					<a href="#" class="logo">&nbsp;</a>
				</div>
				<div
					class="col-lg-3 col-md-4  col-sm-5 col-xs-12 pull-right hdr-rit-bx">
					<div id="loginSignUP" ng-controller="userCtrl" class="login-links">
						<a ng-if="!userName" data-toggle="modal" href="#" data-target="#Login">Login</a> <a ng-if="userName" href="#">Welcome {{userName}}</a>| 
						<a ng-if="!userName" data-toggle="modal" href="#" data-target="#Signup">Signup</a> <a ng-if="userName" ng-click="logout()">Logout</a>						 | 
					</div>

				</div>

			</div>
		</div>

		<div id="oakmenubar" class="container-fluid main-meus">
			<div class="container">
				<div class="mob-mnu">
					<span class="mnu-btn"></span>
				</div>
				<ul class="nav nav-pills">
					<li><a ui-sref="home">Home</a></li>
					<li><a ui-sref="blogs">Blogs</a></li>
					<li><a ui-sref="news">News</a></li>
					<li><a ui-sref="entertainment">Entertainment</a></li>
					<li><a ui-sref="forum">Forum</a></li>
					<li><a ui-sref="citizenx">CitizenX</a></li>
					<!-- <li><a href="#">Articles</a></li> -->
				</ul>
				<div class="input-group" style="display:none;">
					<input type="text" placeholder="Search for..." class="form-control">
					<button type="button" class="btn btn-default">
						<span aria-hidden="true" class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</div>
		</div>		
</div>