
<div class="modal-dialog">

	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Create Blog Post</h4>
		</div>
		<div class="modal-body">
			<form novalidate class="form-horizontal"
				name="blogEntryCreateUpdateForm">


				<div class="form-group col-sm-12">
					<label class="control-label" for="blog">Blog :</label>
					<div>

						<select id="blogdd" class="form-control" ng-model="blogEntry.blog" 
							ng-options="blogObj.id as blogObj.title for blogObj in blogs">
						</select>

					</div>
				</div>


				<div class="form-group col-sm-12">
					<label class="control-label" for="title">Title:</label>

					<div>
						<input class="form-control title" type="text"
							ng-model="blogEntry.title" placeholder="Title" />
					</div>
				</div>
	
				
				<div class="form-group col-sm-12">
					<label class="control-label" for="image">DisplayImage:</label>
					<div>
						<input class="form-control" type="file"
							 placeholder="DisplayImage" id="displayImage" />
					</div>
				</div>
						

				<div class="form-group col-sm-12">
					<div>
						<textarea name="editor1" id="editor1" ng-model="blogEntry.content"
							placeholder="Title" rows="10" cols="80">
                				Enter Text
            			</textarea>
					</div>
				</div>

				<script>
					CKEDITOR
							.replace(
									'editor1',
									{
										filebrowserBrowseUrl : 'service/ckimages',
										filebrowserUploadUrl : 'service/ckimages/blog'
									});
				</script>


				<div class="row"></div>


			</form>
		</div>
		<div class="modal-footer">
			<button type="button" ng-click="resetForm(blogEntry)"
				class="btn btn-default" data-dismiss="modal">Close</button>
			<button ng-click="resetForm(blogEntry)" type="button"
				class="btn btn-default">Reset</button>
			<button ng-click="createBlog(blogEntry)" type="button"
				class="btn btn-primary" data-dismiss="modal">Save</button>

		</div>
	</div>

</div>
