html, body {
    height: 100%;
}
body {
    display: table;
    width: 100%;
    margin: 0;
}
.header, .main, .footer {
    display: table-row;
}
.header, .footer {
    background: lightseagreen;
}
.main {
    height: 100%;
    background: lightgoldenrodyellow;
}