.module_header_small{
	background: transparent url('../../images/modulebg.png');
	background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
	color: #ffffff;
	text-transform: uppercase;
	/* font-size: 135%; */
	font-weight: normal;
}

.header-footer-oak{
	background-color: black;
	margin-left: 0px !important;
	margin-right: 0px !important;
	width: 100%;
}

.article-dialog{
width: 90% !important;
}

.oak-close-button{
	
	height: 2em;
}

.close-button-holder{
	/* position: fixed; */
	float: right;
}

.ngdialog-content{
	margin-top: -10em !important;
}

table{
	table-layout: fixed;
}

figure { 
  position: relative;
  
  img { 
    display: block; /* removes trailing whitespace */
    outline: solid #000 1px;
  } 
}

.figcaption_reg {
  position: absolute;
  bottom: 10%;
  width: 100%; // constrain caption to img size
  margin: 0;

  font-size: 1.5rem;
  font-weight: bold;
  line-height: 200%;
  text-transform: capitalize;  
}

.figcaption_big {
  position: absolute;
  bottom: 10%;
  width: 100%; // constrain caption to img size
  margin: 0;

  font-size: 2rem;
  font-weight: bold;
  line-height: 200%;
  text-transform: capitalize;  
}

.figcaption_small {
  position: absolute;
  bottom: 10%;
  width: 100%; // constrain caption to img size
  margin: 0;

  font-size: 1rem;
  font-weight: bold;
  line-height: 200%;
  text-transform: capitalize;  
}

figcaption span {
    color: white;
    background: black; 
    padding: .5em;  
}

a:hover{
	cursor:pointer;
}