.collapsable{
	overflow: hidden;
	width: 1em;
	padding-top: 10px;
}

.collapsable a {
    text-decoration: none;    
}

#detail_tree_cell{
	width: 1em;
	max-width: 14em;
}

#container-tab{
	width: 100%;
}

#detail_separator_cell{
	width: 1em;
}

#detail_content_cell{
	vertical-align: top;
}

#menubar{
	display: none;
}