.collapsable{
	overflow: hidden;
	width: 1em;
	padding-top: 10px;
}

#menubar a {
    text-decoration: none;    
}

#menubar a:hover {
    text-decoration: none;    
}

#detail_tree_cell{
	width: 0em;
	max-width: 14em;
	vertical-align: top;
}

#container-tab{
	width: 100%;
}

#detail_separator_cell{
	width: 1em;
}

#detail_content_cell{
	vertical-align: top;
	min-width: 70em;
}

#menubar{
	display: none;
	width: 100%;
}

#menubar td a{
	/* display: none; */
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}